*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
}

a:link{
    color: black;
}
a:hover{
    color: darkgray;
}
a:visited{
    color: black;
}

nav{
    display: flex;

}

/*nav, .nav__logo, .nav__secciones{
    display: inline-block;
}*/

nav{
    height: 40px;
}

.nav__logo{
    /*border: 1px solid red;*/
    width: 40vw;
    margin: auto;
    height: 40px;
     display: flex;
    align-content: center;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.logo img{
    align-self: center;
}

.nav__secciones{
      /* border: 1px solid red;*/
    width: 60vw;
    margin: auto;
    height: 40px;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero_image{
    width: 100vw;
}

.hero_texto{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_texto h2{
    padding-bottom: 40px;
}

.input{
    width: 145px;
}
.input1{
    width: 135px;
}

.btn{
    padding: 10px 60px;
}

footer{
    display: flex;
    align-items: center;
}

.copy{
    width: 50vw;
    padding-left: 20px;
}

.social a img{
    width: 20px;
}